.table-header{
    font-size: 0.8125rem;
    font-weight: 600 !important;
    letter-spacing: normal;
    line-height: 1rem;

}
.table-body {
    font-size: 0.8125rem;
    font-weight: 500 !important;
    letter-spacing: normal;
    line-height: 1rem;
}

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#map {
    height: 100%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}